.navbar{
background-color: chartreuse;
height:30px;
border-radius:30px;
}

.navbar a{
text-decoration:none;
color:black;
}

.navbar li{
list-style:none;
float:left;
margin-top:6px;
margin-left:40px;

text-transform:uppercase;
}

.navbar ul{
margin-left:30%;
}

body{
background-image: url(C:\Users\Regex\Desktop\pexels-photo-531880.jpeg);

}
.navbar a:hover{
color: red;
}

.search{
padding-top:4px;
}

.form{
text-decoration:none;
color:yellow;
text-align:center;
margin-top:10px;
border:2px solid;
height:20px;
width:40px;
}
.submit{
color:green;
padding-top:4px;
}