*{
  margin: 0;
  padding: 0;

}

  

.navbar1  {
  background-color:aquamarine;
  height: 50px;
}
.navbar1 ul{
  margin-left: 47rem;
  margin-top: -9px;
  text-transform: capitalize;
  color: aliceblue;
}
.navbar1 ul li{
  padding: 20px;
  list-style: none;
  float: left;

  
}
.navbar1 ul li a{
  text-decoration: none;
}
.navbar1 a:hover{
  color:red;
}
  .main{
    height:700px;
    width:600px;
    display: flex;
  }

