<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chandrveer.com</title>
    <link rel="stylesheet" href="website.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
    <div class="header">
     <div class="deepu" >
     <a class="home" href="#home">Home</a>
     <a class="home" href="#contact">Contact</a>
     <a class="home" href="#decription">Decription</a>
     <a class="home" href="#info">Info</a>
     </div>
     <div class="icon">
        <i class="fa fa-search" aria-hidden="true"></i>
     </div>
     <div class="img"> 
        <img class="photo" src="https://www.w3schools.com/w3images/chicago.jpg" alt="">
     </div>
     <div class="akki">
     <div class="search">
      
        <input class="gopal" type="password" placeholder="enter your password">
    </div>
     </div>
    </div>
</body>
</html>
