*{
    margin: 0;
    padding: 0;

}
.user{
    width: 100%;
    
}
.info{
    width: 100%;
    display: flex;
}
.info img{
    height: 658px;
    width: 100%;


}


.info :hover{
    background-color: aqua;
    color: blue;
    width: 10%;
    height: 10%;
}

/* 
@media (min-width: 677px) and (max-width: 1312px) {
    .user img{
      background-color: purple;
    }
  } */