*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: gray;
}

    

    

.main{
    width: 100%;
   
    background-position: center;
    background-size: cover;height;
    height: 100vh;
    position: relative;
    font-family: sans-serif;
    
}
.navbar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    justify-content: space-between;
    color: aqua;

}
   .navbar .logo{
    width: 100px;
    cursor: pointer;
    margin-left: -2%;
   }
   ul{
    margin-top: -4px;
   }
   ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
   }
   ul li a{
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: cornflowerblue;
    margin-top: -3px;

   }
   ul li a:hover{
    color: blueviolet;
   }
   .info{
    margin-left: 7%;
    margin-top: 6%;
   }
   .info h1{
    font-size: 50px;
    color: chocolate;
   }
   .info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
   }
   .info span{
    color: brown;
   }
   .info a{
    text-decoration: none;
    color: blue;
    background-color: cadetblue;
    margin: 26px 0;
    padding: 10px 18px;
    border-radius: 10pxs;
    display: inline-block;
    transition: 4s es;

   }
   .info a:hover{
    color: chartreuse;
   }
   .image{
    width: 30%;
    height: 50%;
    position: absolute;
    right: 100px;
bottom: 80px;
font-size: 80px;
margin-top: 50px;
   }
   .image img{
    position: absolute;
    height: 140%;
    left: 40%;
    transform: translate(-50%);
    bottom:0 ;
    transition: left 2s ease;

   }
   .image :hover {
    color: blue;
    height: 20px;
    
    
   }

   
   .icons a{
    text-decoration: none;
    color: crimson;

   }
 .icons ion-icon{
    margin-left: 60%;
    color: darkgreen;
 }
 a:i{
    height: 10px;
    width: 10px;
    font-size: 10px;
 }

   